*{
    box-sizing: border-box;
    font-family: MergeOne,sans-serif;
}

h1{
    text-align: center;
    font-family: "UnisonBold", sans-serif;
    font-size: 3rem;
    color: var(--color_used_blue);
    padding: 1rem;
    margin: auto;
}

.shoppingCart{
    width: 45rem;
    height:auto;
    margin: 5rem auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.title{
    height: 4rem;
    border-bottom: 1px solid gray;
    color: var(--color_used_blue);
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 400;
}

.item{
    padding: 1rem 2rem;
    height: 7.5rem;
    display: flex;
    justify-content: flex-end;
    border-bottom:  1px solid gray;
}
.item:last-child {
    border: none;
}

.deleteButton{
    display: inline-block;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    background-color: var(--color_used_blue);
}
.imageContainer{
    margin-left: auto;
    width: 15%;
}
.image{
    width: 90%;
    height: auto;
}

.description{
    padding-top: 1rem;
    margin-right: 4rem;
    width: 7.5rem;
}

.description span{
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.description span:first-child{
    margin-bottom: 5px;
}

.description span:last-child{
    font-weight: 300;
    margin-top: 0.5rem;
    color: gray;
}

.quantity{
    padding-top: 1rem;
    margin-right: 4rem;
}

.quantity button{
    width: 2rem;
    height: 2rem;
    background: #E1E8EE;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.totalPrice{
    width:5rem;
    padding-top: 1.5rem;
    text-align: right;
    font-size: 1rem;
    color: #43484D;
    font-weight: 300;
}

.euro {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: #43484D;
    font-weight: 300;
}

.placeOrderContainer{
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem auto;
}
.placeOrderButton{
    border: none;
    outline: 0;
    padding: 0.75rem;
    color: white;
    background-color: var(--color_used_blue);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.25rem;
    font-family: "Roboto Light", sans-serif;
}
.placeOrderButton:hover{
    background: var(--color_amaranth_purple);
}
.cartPrice{
    text-align: center;
}


@media only screen and (max-width: 725px ){
    .shoppingCart{
        width: 100%;
        border: none;
        box-shadow: none;
        border-radius: 0;
    }
    .totalPrice{
        width: 15%;
    }

    .quantity{
        width:33%;
        margin: 0;
    }
    .description{
        width: 33%;
    }
    .imageContainer{
        width: 15%;
    }
    h1{
        font-size: 1rem;
    }
    body{
        background-color: white !important;
    }

}

