*{
    box-sizing: border-box;
}
.formContainer{
    width: 80%;
    height: auto;
    margin: 3rem auto 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    padding: 0.5rem 1.25rem 1rem 1.25rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row wrap;
}
.rowContainer{
    width: 50%;
    padding: 3rem;
}
input[type=text]{
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.75rem;
    border: 1px solid var(--color_used_blue);
    border-radius: 3px;
}
input[type=month]{
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.75rem;
    border: 1px solid var(--color_used_blue);
    border-radius: 3px;
}
label{
    margin-bottom: 0.5rem;
    display: block;
}
.price{
    width: 50%;
}

.orderButton{
    background: var(--color_used_blue);
    color: white;
    padding: 0.75rem;
    margin: 0 auto 2rem auto;
    border: none;
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    font-family: MergeOne,sans-serif;
}

.orderButton:hover{
    background: var(--color_amaranth_purple);
}

.deliveryContainer{
    margin: auto;
    width: auto;
}
span{
    font-family: MergeOne,sans-serif;
    color: black;
    font-weight: bold;
}

h2{
    font-family: MergeOne, sans-serif;
    font-weight: bold;
    color: var(--color_used_blue);
}


@media only screen and (max-width: 935px){
    .rowContainer{
        width: 100%;
    }
    .formContainer{
        width: 100%;
        border: none;
        box-shadow: none;
    }
    body{
        background-color: white !important;
    }
}
