.container {
    width: 85%;
    height: auto;
    margin: 2rem auto;
    padding: 4rem;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
input{
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.75rem 0 0.75rem 0;
    border: 1px solid var(--color_used_blue);
    border-radius: 3px;
    font-family: MergeOne,sans-serif;
}
textarea{
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.75rem 0 0.75rem 0;
    border: 1px solid var(--color_used_blue);
    border-radius: 3px;
    font-family: MergeOne,sans-serif;
}
label{
    margin-bottom: 0.5rem;
    display: block;
    font-family: MergeOne,sans-serif;
    color: black;
    font-weight: bold;
}
h2{
    font-family: MergeOne, sans-serif;
    font-weight: bold;
    color: var(--color_used_blue);
    text-align: center;
    margin: auto;
    padding-top: 2rem;
}
.rowContainer{
    width: 100%;
    margin: auto;
}

select{
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.75rem;
    border: 1px solid var(--color_used_blue);
    border-radius: 3px;
    font-family: MergeOne,sans-serif;
}
input[type=submit]{
    background: var(--color_used_blue);
    color: white;
    padding: 0.75rem 0 0.75rem 0;
    margin: 0 auto;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;

}
input[type=submit]:hover{
    background-color: var(--color_amaranth_purple);
}
img{
    width: 50%;
    height: auto;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
@media only screen and (max-width: 935px){
    .rowContainer{
        width: 100%;
    }
    .container{
        border: none;
        box-shadow: none;
        margin: auto;
        padding: 0;
    }
    body{
        background-color: white !important;
    }
}