@font-face{
    font-family: UnisonBold;
    src: url("../fonts/Type Juice - Unison Pro Bold.otf") format("opentype");
}

@font-face{
    font-family: Unison;
    font-weight: normal;
    src: url("../fonts/Type Juice - Unison Pro Light.otf") format("opentype");
}

@font-face {
    font-family: UnisonRound;
    font-weight: normal;
    src: url("../fonts/Type Juice - Unison Pro Light Round.otf") format("opentype");
}

@font-face {
    font-family: MergeOne;
    font-weight: normal;
    src: url("../fonts/MergeOne-Regular.ttf") format("truetype");
}