footer {
    width: 100%;
    padding: 1% 0;
    background-color: var(--color_used_blue);
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3,33%);
}

.footer_text {
    color: var(--color_isabelline);
    font-family: "MergeOne",sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

#footer_email {
    text-decoration: underline;
    font-style: normal;
}

footer .fa-solid{
    font-size: 1rem;
    width: 100%;
    height: 100%;
    color: var(--color_amaranth_purple);
}
