:root {
    --color_celestial_blue: #199FD6;
    --color_indigo_dye: #053C5E;
    --color_amaranth_purple: #982649;
    --color_isabelline: #EDE7E3;
    --color_something_black: #363534;
    --color_used_blue: var(--color_celestial_blue);
    --color_used_for_background: var(--color_isabelline);
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6rem;
    background-color: var(--color_used_for_background);
}
html{
    height: 100%;
}