nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: var(--color_used_for_background);
}

nav li{
    padding: 0.5rem;
    display: inline;
    text-align:center;
    align-items: center;
}
nav li a{
    text-decoration: none;
    font-size: 1rem;
    color:var(--color_used_blue);
    display: block;
    text-align: center;
    padding: 0.5rem 0.65rem;
    font-family: "UnisonBold",sans-serif;
}

.banner{
    padding: 1rem 0;
    background-color: var(--color_used_blue);
}

#cyber {
    color: var(--color_amaranth_purple);
    font-family: "UnisonBold", sans-serif;
}

#fish {
    color: var(--color_used_blue);
    font-family: "UnisonBold", sans-serif;
}

.fa-solid{
    color: var(--color_amaranth_purple);
}
nav .fa-solid:last-child{
    padding-right: 1rem;
}
#logo{
    font-size: 2rem;
    padding-left: 1rem;
}

li a:hover{
    color: var(--color_amaranth_purple);
}

a.fa-solid:hover{
    color: var(--color_used_blue);
}

@media only screen and (max-width: 935px) {
    nav li{
        display: block;
        width: 100%;
        align-items: center;
    }
}