h1{
    font-family: "MergeOne", sans-serif;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 3rem;
    color: var(--color_used_blue);
}
* {
    box-sizing: border-box;
}
body {
    font-family: MergeOne, sans-serif;
}
.slide {
    display: none;
}
img {
    vertical-align: middle;
}

.carousel-container {
    max-width: 90%;
    position: relative;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 1rem;
    width: 1rem;
    margin: 0 0.125rem;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s;
}

.active {
    background-color: #717171;
}

.fade {
    animation: fade 1.5s;
}

.slide img{
    max-width: 100%;
    height: 30rem;
    object-fit: cover;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

.divider{
    width: 90%;
    border-top: 0.5rem solid #bbb;
    padding-top: 0.5rem;
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
    font-family: MergeOne, sans-serif;
    color: var(--color_used_blue);

}

.cardContainer{
    width: 100%; !important;
}