form {
    border: 3px solid var(--color_used_blue);
}
body{
    font-family: MergeOne,sans-serif;
}

input[type=email], input[type=password],input[type=text] {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    display: block;
    border: 0.0625rem solid var(--color_used_blue);
    box-sizing: border-box;
    border-radius: 3px;
}

button{
    background-color: var(--color_used_blue);
    color: white;
    padding: 0.875rem 1.25rem;
    margin: 0.5rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background-color: var(--color_amaranth_purple);
}

.formContainer{
    width: 50%;
    height: auto;
    margin: 3rem auto 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    padding: 0.5rem 1.25rem 1rem 1.25rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row wrap;
}
label{
    display: block;
}
.divider{
    width: 100%;
}
@media only screen and (max-width: 935px){
    .formContainer{
        width: 80%;
        border: none;
        box-shadow: none;
    }
    body{
        background-color: white !important;
    }
}

