body{
    font-family: MergeOne,sans-serif;
}
.container {
    width: 85%;
    height: auto;
    margin: 2rem auto;
    padding: 4rem;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

#productPageName{
    font-size: 3rem;
    text-align: left;
    border-bottom: 1px solid gray;
}
.discount{
    font-size: 2rem;
    color: var(--color_amaranth_purple);
}

.realProductPagePrice{
    font-size: 2rem;
}

.productPagePrice{
    text-decoration: line-through;
}

.productPagePriceText{
    font-size: 1rem;
    color:gray;
}

.description{
    font-size: 3rem;
    letter-spacing: 2px;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    height: auto;
}
#productTag{
    font-size: 2.5rem;
    color: #358ed7;
    letter-spacing: 1px;
    text-decoration: none;
}
.description h1{
    font-weight: lighter;
    font-size: 3rem;
    color: #43484D;
    letter-spacing: -2px;
}
#productDescription{
    font-size: 1rem;
    font-weight: lighter;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: fit-content;
    line-height: 1.6;
}
.productDisclaimer{
    font-size: 1rem;
    color: gray;
}
.imageContainer{
    width: 50%;
    height: auto;
}
.imageContainer img{
    object-fit: contain;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.descriptionContainer{
    width: 80%;
    height: auto;
    padding-left: 2rem;
    position: relative;
}
.priceContainer {
    height: auto;
    width: 70%;
    padding-left: 1rem;
}
.addToCartButton{
    float: bottom;
    border: none;
    outline: 0;
    padding: 0.75rem;
    color: white;
    background-color: var(--color_used_blue);
    text-align: center;
    cursor: pointer;
    width: 30%;
    height: 15%;
    font-size: 1.5rem;
    display: block;


}
.addToCartButton:hover{
    background-color: var(--color_amaranth_purple);
}

.test{
    display: flex;
}

.separator{
    border-top: 0.5rem solid gray;
    margin: 0 auto;
    width: 85%;
    font-size: 2rem;
    color: var(--color_used_blue);
    text-align: center;
    object-position: center;
    padding-top: 1rem;
}
.cardContainer{
    padding-bottom: 5rem;
}

@media only screen and (max-width: 935px){
    .imageContainer{
        width: 100%;
    }
    .descriptionContainer{
        width: 100%;
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        padding: 2rem 0;
        margin: 0 auto;
        box-shadow: none;
        border-radius: 0;

    }
    .description h1{
        font-size: 2rem;
    }body{
         background-color: white !important;
     }
}