.cardContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem 1rem;
    padding: 4rem 1rem 1rem 1rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 18.75rem;
    margin: 2rem;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    position: relative;
    flex: 0 0 20%;
}
.card img{
    width: 18.75rem;
    object-fit: cover;
}
.DiscountTag{
    color: var(--color_amaranth_purple);
    text-transform: capitalize;
    z-index: 9;
    position: relative;
}
.productName{
    font-family: MergeOne, sans-serif;
    font-size: 2rem;
    max-height: 4rem;
    color: black;
}
.price{
    font-size: 1.5rem;
    color: var(--color_used_blue);
    font-family: MergeOne,sans-serif;
}
.realPrice{
    margin-left: 1.25rem;
    font-family: MergeOne,sans-serif;
    opacity: 0.5;
    text-decoration: line-through;
}
.card button {
    float: bottom;
    border: none;
    outline: 0;
    padding: 0.75rem;
    color: white;
    background-color: var(--color_used_blue);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.25rem;
}
.card button:hover {
    background-color: var(--color_amaranth_purple);
}
.checksContainer{
    width: 100%;
    font-family: MergeOne,sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
.checksTitle{
    font-family: "UnisonBold", sans-serif;
    font-size: 2rem;
    color: var(--color_used_blue)
}
.test{
    padding-bottom: 1rem;
}


