*{
    font-family: MergeOne, sans-serif;
}

h1{
    margin: 2rem auto;
    font-family: MergeOne, sans-serif;
    font-size: 2rem;
    color: var(--color_used_blue);
    width: 90%;
    text-align: center;
}
table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 720px;
    width: 50%;
    margin: 2rem auto;
    background: white;
    border-radius: 0.5rem;
}

td{
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    padding: 1rem 0;
}


@media only screen and (max-width: 720px)
{
    table{
        min-width: 0;
        width: 100%;
    }
}