<!-- Roba per la responsiveness -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Inclusione script -->
<script src="https://kit.fontawesome.com/99ca6a0188.js" crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/jquery-3.7.0.js"   integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="   crossorigin="anonymous"></script>
<script src="scripts/cards.js"></script>
<script src="scripts/cart.js"></script>
<!-- Riferimenti a css generali -->
<link rel="stylesheet" type="text/css" href="css/fonts.css">
<link rel="stylesheet" type="text/css" href="css/globals.css">
<link rel="stylesheet" type="text/css" href="css/header.css">
<link rel="stylesheet" type="text/css" href="css/footer.css">
<link rel="stylesheet" type="text/css" href="css/productCard.css">