<footer>
  <script>
    let theme = 0;

    function toggleTheme() {
      if(theme === 0) {
        theme = 1;
        let color = getComputedStyle(document.documentElement).getPropertyValue("--color_indigo_dye");
        document.documentElement.style.setProperty("--color_used_blue", color);
        document.getElementById("themeIcon").className = "fa-solid fa-moon";
      }
      else {
        theme = 0;
        let color = getComputedStyle(document.documentElement).getPropertyValue("--color_celestial_blue");
        document.documentElement.style.setProperty("--color_used_blue", color);
        document.getElementById("themeIcon").className = "fa-solid fa-sun";
      }
    }
  </script>
  <span class="footer_text">
    Sviluppatori: Claudio Gaudino Jacopo Passariello
  </span>

  <span class="footer_text"> Contatti:
    <span class="footer_text" id="footer_email">cyberfish@business.money</span>
    <span class="footer_text"> +39 123 456 7890</span>
  </span>

  <span id="themeIcon" class ="fa-solid fa-sun" onclick="toggleTheme()"></span>
</footer>