<!-- <div class="productContainer">
    <div class="productCard">
        <div class="productImage">
            <img class="productThumb" src="images/LiquidazioneScorte.png" alt="pesce random" style="width:100%">
            <span class="DiscountTag">50%</span>
            <button class="addToCart"> aggiungi al Carrello </button>
        </div>
        <h1 class="productName"> Pesce Random </h1>
        <p class="productShortDes"> Boh pesce a caso 5 euro.</p>
        <span class="price">5&euro;</span> <span class="realPrice"> 10&euro;</span>
    </div>
</div> -->

<div class="fishContainer">
<div class="card">
    <img src="images/LiquidazioneScorte.png" alt="pesce">
    <span class="DiscountTag">50%</span>
    <h1 class="productName"> Pesce</h1>
    <span class="price">5&euro;</span> <span class="realPrice"> 10&euro;</span>
    <p> Box di pesce random 5kg</p>
    <button> Add to Cart </button>
</div>
<div class="card">

    <img src="images/LiquidazioneScorte.png" alt="pesce">
    <span class="DiscountTag">50%</span>
    <h1 class="productName"> Pesce</h1>
    <span class="price">5&euro;</span> <span class="realPrice"> 10&euro;</span>
    <p> Box di pesce random 5kg</p>
    <button> Add to Cart </button>
</div>
<div class="card">

    <img src="images/LiquidazioneScorte.png" alt="pesce">
    <span class="DiscountTag">50%</span>
    <h1 class="productName"> Pesce</h1>
    <span class="price">5&euro;</span> <span class="realPrice"> 10&euro;</span>
    <p> Box di pesce random 5kg</p>
    <button> Add to Cart </button>
</div>
</div>